<div class="container my-5">
  <div class="col-md-12 ml-auto mr-auto">
    <div class="group-cards">
      <div class="scrolling-wrapper row flex-row flex-nowrap gap-2">
      <!-- CARD -->
        <div class="col-lg-3 col-md-6 col-sm-12 mb-4 px-0">
          <div class="card-game">
            <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRPC9J6l5lg87sao2Gj6Mf-kVYkxcv6L_JTyw&usqp=CAU" alt="">
            <div class="card-body">
              <h2>Math Invaders</h2>
              <p class="mb-0">Level: 1/5</p>
              <p>Caregory: addtion</p>
              <%= link_to "Play 🎮",  user_session_path, class: "btn button-play me-2 my-2 justify-content-center" %>
            </div>
          </div>
        </div>
        <!-- CARD -->
        <div class="col-lg-3 col-md-6 col-sm-12 mb-4 px-0">
          <div class="card-game">
            <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRPC9J6l5lg87sao2Gj6Mf-kVYkxcv6L_JTyw&usqp=CAU" alt="">
            <div class="card-body">
              <h2>Math Invaders</h2>
              <p class="mb-0">Level: 1/5</p>
              <p>Caregory: addtion</p>
              <div class="d-flex">
                <%= link_to "Play 🎮",  user_session_path, class: "btn button-play me-2 my-2 justify-content-center" %>
              </div>
            </div>
          </div>
        </div>
        <!-- CARD -->
        <div class="col-lg-3 col-md-6 col-sm-12 mb-4 px-0">
          <div class="card-game">
            <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRPC9J6l5lg87sao2Gj6Mf-kVYkxcv6L_JTyw&usqp=CAU" alt="">
            <div class="card-body">
              <h2>Math Invaders</h2>
              <p class="mb-0">Level: 1/5</p>
              <p>Caregory: addtion</p>
              <div class="d-flex">
                <%= link_to "Play 🎮",  user_session_path, class: "btn button-play me-2 my-2 justify-content-center" %>
              </div>
            </div>
          </div>
        </div>
        <!-- CARD -->
        <div class="col-lg-3 col-md-6 col-sm-12 mb-4 px-0">
          <div class="card-game">
            <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRPC9J6l5lg87sao2Gj6Mf-kVYkxcv6L_JTyw&usqp=CAU" alt="">
            <div class="card-body">
              <h2>Math Invaders</h2>
              <p class="mb-0">Level: 1/5</p>
              <p>Caregory: addtion</p>
              <div class="d-flex">
                <%= link_to "Play 🎮",  user_session_path, class: "btn button-play me-2 my-2 justify-content-center" %>
              </div>
            </div>
          </div>
        </div>
        <!-- CARD -->
        <div class="col-lg-3 col-md-6 col-sm-12 mb-4 px-0">
          <div class="card-game">
            <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRPC9J6l5lg87sao2Gj6Mf-kVYkxcv6L_JTyw&usqp=CAU" alt="">
            <div class="card-body">
              <h2>Math Invaders</h2>
              <p class="mb-0">Level: 1/5</p>
              <p>Caregory: addtion</p>
              <div class="d-flex">
                <%= link_to "Play 🎮",  user_session_path, class: "btn button-play me-2 my-2 justify-content-center" %>
              </div>
            </div>
          </div>
        </div>

      </div>
    </div>
  </div>
</div>
