<div class="container my-5">
  <div class="col-md-12 ml-auto mr-auto">
    <div class="group-cards">
      <div class="scrolling-wrapper row flex-row flex-nowrap gap-2">
        <!-- CARD -->
        <% @user_levels.each do |user_level| %>
          <div class="col-lg-3 col-md-6 col-sm-12 mb-1 px-0">
            <div class="card-game">
              <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRPC9J6l5lg87sao2Gj6Mf-kVYkxcv6L_JTyw&usqp=CAU" alt="">
              <div class="card-body">
                <h2>Math Invaders</h2>
                <div class="d-flex justify-content-end">
                <p class="badge bg-warning"><%= user_level.category_name %></p>
                </div>
                <p><%= user_level.level_name %></p>
                <p>Best Time: <%= user_level.best_time %> </p>
                <p>Total Attempts: <%= user_level.attempts_count %></p>
                <%= link_to "Play 🎮",
                  new_attempt_path(level_id: user_level.level_id),
                  class: "btn button-play me-2 my-2 justify-content-center",
                  data: { turbo: false } %>
              </div>
            </div>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>
