<div class="container">
    <%= render "shared/tabs" %>
    <div class="text-center my-4">
      <h1>Here's how well you are doing!</h1>
      <p>Analyze your data and results in differents mathematics operations to target where you need to train more.<br>Math Mavens helps you to gain fluency and confidence in math.</p>
    </div>
    <div class="my-4">
      <!-- <div>
        <h3 style="font-size: 24px;" class="text-center my-4">Attempts per day</h3>
        <%# <%= line_chart @levels.map { |level|
          {name: level.name, data: Attempt.feats.group_by_day(:created_at).count}
        } %>
      </div> -->
      <div class="my-5">
        <h3 style="font-size: 24px" class="text-center">Your recent attempts</h3>
        <%= column_chart Attempt.group_by_hour(:updated_at, time_zone: "Hong Kong", format: "%a %l%p", range: 2.days.ago.midnight..Time.now).count, points: false, label: "Value", colors: ["#F06D4F", "#F06D4F"], ytitle: "Total attempts", empty: "No data"  %>
      </div>
      <div class="my-5">
        <h3 style="font-size: 24px;" class="text-center">Best scores</h3>
        <%= area_chart Attempt.group_by_hour(:updated_at, time_zone: "Hong Kong", format: "%a %l%p", range: 2.days.ago.midnight..Time.now).sum(:score), colors: ["#F06D4F", "#F06D4F"], ytitle: "Total score" %>
      </div>
      <div class="my-5">
        <h3 style="font-size: 24px;" class="text-center">Your best times</h3>
        <%= column_chart Attempt.group_by_hour(:updated_at, time_zone: "Hong Kong", format: "%a %l%p", range: 2.days.ago.midnight..Time.now).minimum(:total_time), colors: ["#F06D4F", "#F06D4F"], ytitle: "Time taken" %>
      </div>
      <div class="my-5">
        <h3 style="font-size: 24px;" class="text-center">How many bullets did you fire</h3>
        <%= area_chart Attempt.group_by_hour(:updated_at, time_zone: "Hong Kong", format: "%a %l%p", range: 2.days.ago.midnight..Time.now).sum(:bullets_fired), colors: ["#F06D4F", "#F06D4F"], ytitle: "Total bullets fired" %>
      </div>
    </div>
</div>
