<section class="vh-100" style="background-color: #ffefd4;">
  <div class="container py-5 h-100">
    <div class="row d-flex justify-content-center align-items-center h-100">
      <div class="col-12 col-md-8 col-lg-6 col-xl-5">
        <div class="card shadow-2-strong" style="border-radius: 1rem;">
          <div class="card-light p-5">
            <h2 class="mb-3">Log in</h2>
              <%= simple_form_for(resource, as: resource_name, url: session_path(resource_name), data: { turbo: :false }) do |f| %>
                <div class="form-inputs">
                <%= f.input :email,
                          required: false,
                          autofocus: true,
                          input_html: { autocomplete: "email" } %>
                  <%= f.input :password,
                          required: false,
                          input_html: { autocomplete: "current-password" } %>
                  <%= f.input :remember_me, as: :boolean if devise_mapping.rememberable? %>
                </div>
              <div class="form-actions">
                <%= f.button :submit, "Log in", class: "btn btn-primary" %>
              </div>
                <% end %>
              <%= render "devise/shared/links" %>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
